<p>
  <b>Search Users:</b> 
 <% form_tag users_path  :method => 'get' do %>
 <%= text_field_tag :search, params[:search] %>
 <%= submit_tag "Search", :username => nil %> 
 <% end %> 
</p>

<% @users.each do |user| %>
  <li>
    <td><%= link_to user.username, user_tweets_url %></td>
  </li>
<% end %>


