<p>
  <h3><b>Suggestions:</b></h3>
  <ul>
    <% @tweets.each do |t| %>
    <li>
      <h4> <td><%= t.body %></td>
        <td><%= t.updated_at.to_date %></td>
        <td><%= link_to t.user.username, user_tweets_url(:username => t.user.username)%></td>
    </li>
    <% end %>
  </ul>
</p>
