<p>
  <h3><b>Suggestions:</b></h3>
  <ul>
    You should follow <%= link_to @suggestion.username, user_tweets_url(@suggestion) %>. 
    You have <%= @mutual_followers %> common followers.
  </ul>
</p>
