<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>


<p>
  <b>Tweets:</b>
  <ul>
    <% @followtweets.each do |t| %>
    <li>
      <td><%= t.body %></td>
      <td><%= t.user.username %></td>
    </li>
    <% end %>
  </ul>
  
</p>

